# Файл с секретами и переменными окружения
.env

# Виртуальное окружение
venv/
/venv
.venv

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Файлы редакторов кода
.vscode/
.idea/

# Логи
*.log

# Другие системные файлы
.DS_Store